language: ruby
cache: bundler
rvm:
  - 2.7
  - 3.0
  - 3.1
script:
  - bundle install --path vendor/bundle
  - bundle exec rspec
  - gem build segnivo_sdk.gemspec
  - gem install ./segnivo_sdk-1.7.6.gem
