dist
/node_modules
/test
/utils
/templates
/.openapi-generator
publish-sdks.js
generate-sdks.js
clean-openapi.js
openapi_old.yaml
readme.mustache
test.ts
observations.txt
config.js
config.json
.openapi-generator-ignore
openapitools.json
package-lock.json
.env